@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #1f242d;
}
*{
    color: #fff;
    text-decoration: none;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    /*background: slateblue ;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar .logo{
    font-size: 30px;
    font-weight: 700;
}
.navbar ul{
    display: flex;

}
.navbar ul li{
    list-style: none;
    margin-left: 35px;
}

.navbar ul li a{
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s ease;
}
.navbar ul li:hover a,
.navbar ul li.active a{
    color: #7cf03d;
}

/* lets fixed the place of home class*/

.home{
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
}
/*lets fixed the size of an name and your job role*/

.home-info h1{
    font-size: 50px;
}
.home-info h2{
    font-size: 32px;
    margin-top: 15px;
}
.home-info p{
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

/* its basically text your btn in color d cv*/
.btn{
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    transition: 0.5s ease;
    font-size: 16px;
    color: #1f242d;
    font-weight: 500;
}

.btn:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: none;

}

.home-info .btn-sci .sci {
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 16px;
    color: #7cf03d;
    margin: 0 8px;
    transition: 0.5s ease;
}
.home-info .btn-sci .sci a:hover{
    background: transparent;
    color: #7cf03d;
    box-shadow: 0 0 24px #7cf03d;
}
.home-img .img-box{
    width: 32vw;
    height: 32vw;
    color: red;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.home-img .img-box::before,
.home-img .img-box::after
{
    content: '';
    position: absolute;
    width: 500px;
    width: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
}*/
.home-img .img-box .img-item img{
    position: relative;
    width: 150%;
    height: 150%;
   /* background: slateblue;*/
    border-radius: 70%;
    display: flex;    
    justify-content: center;
    /*overflow: hidden;*/
    box-shadow: 8px 4px 4px 4px #7cf03d;
    
    
    
}
/*.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
}*/
